@font-face {
    font-family: "Sena";
    src: url("Fonts/nunito/Nunito-Medium.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "SenaBold";
    src: url("Fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 500;
}